<div class="site-mobile-menu site-navbar-target bg-dark">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body bg-dark"></div>
    </div>
   
    
    <header class="site-navbar py-4 site-navbar-target" role="banner">
      
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto"><a href="index.html" class="text-warning" style="font-family: Bebas Neue, cursive;font-size: 32px;">yo <b class="text-white">mismo soy.</b></a></div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a href="/logout" class="nav-link"><span>Cerrar Sesion</span></a></li> 
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-white float-right"><span class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>
      
    </header>